* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --primary-blue: #4e47ff;
  --primary-text: #8987a1;
  --bg-color: #f5f8ff;
  --black: #252432;
  --border-black: #2b2b2b;
}

/* Custom utility classes */
.gap_32px {
  gap: 32px;
}
.mb_32 {
  margin-bottom: 32px;
}
.w-282 {
  width: 282px;
}

.bodymargin,
section {
  margin: 0 112px;
}
.mx-32px {
  margin-inline: 32px;
}
.relative {
  position: relative;
}
.inter {
  font-family: "Inter", serif;
}
.raleway {
  font-family: "Raleway", serif;
}

section h2 {
  margin-bottom: 32px;
}
.button_primary {
  background-color: var(--primary-blue);
  color: white;
  font-size: 16px;
  padding: 18px 0;
  border-radius: 10px;
  font-weight: bold;
  display: block;
  width: 100%;
  white-space: none;
  position: relative;
  overflow: hidden;
}
.button_primary:hover::before {
  left: 100%;
  background-color: var(--black);
}
/* __________ */
body {
  color: var(--primary-text);
  background-color: var(--bg-color);
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  color: var(--primary-text);
  background-image: url("../images/banner-gradient.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}
h2 {
  font-size: 60px;
  color: var(--black);
  font-family: "Raleway", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 48px;
  font-size: 16px;
  border-radius: 20px;
  padding: 22px 42px 22px 56px;
  background-color: rgb(255, 255, 255, 0.6);
  border: 1px solid white;
}

nav ul li:hover:not(.active) {
  transform: scale(1.2);
  transform-origin: center;
  color: var(--black);
  cursor: pointer;
  transition: transform 0.1s ease-out;
}
ul li.active {
  font-weight: bold;
  color: var(--black);
}

button {
  background-color: transparent;
  color: var(--primary-text);
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.auth {
  display: flex;
  gap: 19px;
}

.signup {
  background-color: var(--primary-blue);
  border-radius: 10px;
  padding: 12px;
  color: white;
}

.bigText {
  font-family: "Raleway", serif;
  max-width: 764px;
  font-weight: bold;
  color: var(--black);
  margin: 0px auto;
  padding-bottom: 155px;
  padding-top: 104px;
}
.bigText button {
  margin: 0px auto;
  display: block;
  background-color: var(--black);
  padding: 18px 58px;
  color: white;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease-out;
  background-color: var(--primary-blue);
  left: -100%;
}
.bigText button:hover::before {
  left: 50%;
}

.margin_36 {
  margin-bottom: 36px;
  font-size: 73.34px;
  text-align: center;
}

.whatwedo {
  display: flex;
  row-gap: 32px;
  align-items: stretch;
  column-gap: 32px;
}
.whatwedo .card {
  border-radius: 10px;
  background: white;
  border: 1px solid var(black);
  padding: 29px 26px 34px;
}
.whatwedo .card span {
  background-color: var(--bg-color);
  display: inline-block;
  padding: 10px;
  border-radius: 9px;
}
.whatwedo p {
  color: var(--primary-text);
  font-size: 14px;
  line-height: 21px;
}
.whatwedo h4 {
  font-size: 19.77px;
  font-weight: 600;
  color: var(--black);
  margin: 19px 0px;
}
.whatwedo .wedo_1 {
  width: calc(75% - 16px);
}

.whatwedo .wedo_1 #colone {
  display: flex;
  margin-bottom: 32px;
}
.whatwedo .wedo_1 #colone .card {
  flex: 1;
}
.whatwedo .wedo_1 #coltwo {
  display: flex;
}
.whatwedo .wedo_1 #coltwo > div {
  width: calc(33.33% - 16px);
  flex-shrink: 0;
}
.whatwedo .wedo_1 #coltwo div.ct_1 {
  flex-shrink: 0;
  width: calc(66.66% - 16px);
  display: flex;
  gap: 32px;
}
#coltwo div.ct_1 > div {
  width: calc(50% - 16px);
}
#coltwo div.ct_1 .blue {
  background-color: #5b54ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: auto;
  width: 218px;
}
.whatwedo .wedo_2 {
  width: calc(25% - 16px);
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(black);
  background-color: white;
  padding: 29px 20px 20px;
}

.whatwedo .wedo_2 .card {
  border-radius: 0px;
  background: transparent;
  border: none;
  padding: 0px;
}
.whatwedo .wedo_2 img {
  width: auto;
  margin-top: 32px;
  max-width: 100%;
  flex-grow: 1;
  display: block;
}
/* Check Our work */

section#ourwork {
  margin: 0px;
  margin-top: 130px;
  padding-top: 87px;
  background-image: url("../images/bg_ourwork.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-color: var(--bg-color);
  background-blend-mode: color-burn;
}

#ourwork h2 {
  max-width: 455px;
  margin: 0 auto;
}
#ourwork p {
  max-width: 449px;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 57px;
  font-weight: 400;
  line-height: 21px;
}

#ourwork #intro > span {
  width: 78px;
  height: 78px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: white;
}

#ourwork #intro > span:first-child {
  position: absolute;
  left: 300px;
  top: 0px;
}
#ourwork #intro > span:last-child {
  position: absolute;
  right: 300px;
  top: 0px;
}
#picCarousel {
  display: flex;
  gap: 32px;
}
#picCarousel .cover {
  padding: 34px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.6);
}
#picCarousel div.cover:first-child {
  padding-left: 0px;
}
#picCarousel div.cover:nth-child(2) {
  flex-grow: 1;
}
#picCarousel div.cover:last-child {
  padding-right: 0px;
}

#picCarousel .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ourwork_footer {
  margin: 86px auto;
  border-radius: 22px;
  padding: 23px;
  border: 1px solid #e4eaf8;
  width: fit-content;
  background-color: white;
  display: flex;
  gap: 13px;
  align-items: center;
  font-size: 16px;
  font-weight: 400px;
}

.ourwork_footer h6 {
  font-size: 16px;
  font-weight: 600;
}
.ourwork_footer h6 span {
  color: var(--black);
}

#profileIcon img {
  margin-left: -9px;
  position: relative;
}

.ourwork_footer #stars {
  display: flex;
  gap: 6px;
  margin-top: 4px;
}

/* 
 --- Pricing section ---
      ##########
*/
section#pricing {
  display: flex;
  gap: 32px;
  justify-content: center;
}
section#pricing > div {
  width: 624px;
}
section#pricing > div:first-child {
  width: 387px;
  display: flex;
  flex-direction: column;
  gap: 81px;
}
section#pricing p {
  line-height: 21px;
}
section#pricing .card {
  background-color: white;
  padding: 37px 26px 28px;
  border-radius: 20px;
}
section#pricing > div:first-child h4 {
  font-size: 34.07px;
  color: var(--black);
  margin-bottom: 31px;
}

section#pricing > div:last-child {
  padding: 43px 22px 25px;
}

section#pricing > div:last-child > div:first-child {
  margin-bottom: 41px;
  padding: 0 28px;
}
section#pricing > div:last-child > div:first-child h4 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: var(--black);
  margin-bottom: 31px;
}
section#pricing > div:last-child > div:first-child #list {
  display: flex;
  justify-content: space-between;
}
section#pricing > div:last-child > div:first-child ul {
  margin-top: 41px;
  list-style-type: none;
  list-style-position: inside;
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
section#pricing > div:last-child > div:first-child ul li::before {
  content: "";
  display: block;
  background-image: url("../images/check.png");
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
section#pricing > div:last-child > div:first-child ul li {
  position: relative;
  padding-left: 34px;
}
section#pricing > div:last-child > div:last-child {
  background-color: var(--bg-color);
  border-radius: 10px;
  font-size: 60px;
  color: var(--black);
  padding: 28px 42px;
  font: "Inter";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#pricing > div:last-child > div:last-child span {
  color: var(--primary-text);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

/* 
 --- FAQ section ---
      ##########
*/

section#faq {
  padding-top: 198px;
  margin: 0px;
  background-image: url("../images/faq.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: var(--bg-color);
  background-blend-mode: color-burn;
  display: flex;
  gap: 32px;
  justify-content: center;
  padding-bottom: 111px;
  border-bottom: 1px solid #d6dded;
}

section#faq h2 {
  width: 387px;
  margin-top: 64px;
}
section#faq p {
  font-size: 16px;
  line-height: 24px;
}

section#faq ul {
  list-style-type: none;
  width: 696px;
}
section#faq ul li:not(:last-child) {
  margin-bottom: 16px;
}
section#faq ul svg {
  cursor: pointer;
}
section#faq li {
  padding: 24px 24px 24px 30px;
  display: flex;
  font-family: "Raleway", serif;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
}
section#faq ul li:first-child {
  display: block;
}
section#faq ul li:first-child div {
  display: flex;
  justify-content: space-between;
}

section#faq ul li:first-child p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

/* 
 --- Contact section ---
      ##########
*/

section#contact {
  margin: 0px;
  padding-top: 124px;
  background-image: url("../images/footer_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 100px;
}

section#contact #footerImg {
  mix-blend-mode: color-burn;
  position: absolute;
  bottom: 500px;
}
section#contact h2 {
  text-align: center;
  margin-bottom: 71px;
}

section#contact form {
  width: 696px;
  margin: 0 auto;
}

section#contact form label {
  font-weight: bold;
  color: var(--black);
  display: block;
  margin-bottom: 10px;
  padding-left: 5px;
}

section#contact form .group {
  margin-bottom: 16px;
}
input,
textarea {
  display: block;
  border: 1px solid #d6d6d6;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: bottom center;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 20px 32px;
  border-radius: 10px;
}
textarea {
  height: 222px;
}
input::placeholder,
textarea::placeholder {
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-text);
  font-family: "Inter", serif;
}
section#contact form button {
  margin-top: 25px;
}

footer {
  margin: 156px 112px 0px 112px;
  background: linear-gradient(121.9deg, #ffffff 0%, #f7f9ff 96.81%);
  padding: 84px 72px 78px;
  border-radius: 40px;
  font-size: 16px;
}
footer .footerLinks {
  display: flex;
  justify-content: space-between;
}
footer .footerLinks ul {
  list-style-type: none;
  display: flex;
  gap: 48px;
}
footer .footerLinks ul li:hover {
  cursor: pointer;
  color: var(--black);
  transform: scale(1.5);
  transform-origin: center;
  transition: transform 0.1s ease-out;
}
footer div img {
  margin-bottom: 38px;
}

footer > div p {
  margin-bottom: 61px;
  max-width: 356px;
}
footer > div div div {
  display: flex;
  align-items: center;
  gap: 11px;
}
footer #lastdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer #socials span {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  cursor: pointer;
}

footer #socials span path {
  fill: #151515;
}
footer #socials span:hover {
  background-color: var(--black);
}
footer #socials span:hover path {
  fill: white;
}

footer #socials {
  display: flex;
  gap: 10px;
}

#withlove:hover {
  fill: red;
  cursor: pointer;
}
