* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --primary-blue: #4e47ff;
  --primary-text: #8987a1;
  --bg-color: #f5f8ff;
  --black: #252432;
  --border-black: #2b2b2b;
}

/* utility classes */
.gap_32px {
  gap: 32px;
}
.mb_32 {
  margin-bottom: 32px;
}

.bodymargin,
section {
  margin: 0 112px;
}

@media screen and (min-width: 1600px) {
  .bodymargin,
  section {
    margin: 0 auto;
    max-width: 1600px;
  }
}

section h2 {
  margin-bottom: 32px;
}

/* __________ */
body {
  color: var(--primary-text);
  background-color: var(--bg-color);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url("../images/banner-gradient.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}
h2 {
  font-size: 60px;
  color: var(--black);
  font-family: "Raleway", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 48px;
  border-radius: 20px;
  padding: 22px 42px 22px 56px;
  background-color: rgb(255, 255, 255, 0.6);
  border: 1px solid white;
}

ul li.active {
  font-weight: bold;
  color: var(--black);
}

button {
  background-color: transparent;
  color: var(--primary-text);
  border: none;
  border-radius: 10px;
}
.auth {
  display: flex;
  gap: 19px;
}

.signup {
  background-color: var(--primary-blue);
  border-radius: 10px;
  padding: 12px;
  color: white;
}

.bigText {
  font-family: "Raleway", serif;
  max-width: 764px;
  font-weight: bold;
  color: var(--black);
  margin: 0px auto;
  padding-bottom: 155px;
  padding-top: 104px;
}
.bigText button {
  margin: 0px auto;
  display: block;
  background-color: var(--black);
  padding: 18px 58px;
  color: white;
  font-weight: bold;
}
.margin_36 {
  margin-bottom: 36px;
  font-size: 73.34px;
  text-align: center;
}

.whatwedo {
  display: flex;
  row-gap: 32px;
  align-items: stretch;
  column-gap: 32px;
}
.whatwedo .card {
  border-radius: 10px;
  background: white;
  border: 1px solid var(black);
  padding: 29px 26px 34px;
}
.whatwedo .card span {
  background-color: var(--bg-color);
  display: inline-block;
  padding: 10px;
  border-radius: 9px;
}
.whatwedo p {
  color: var(--primary-text);
  font-size: 14px;
  line-height: 21px;
}
.whatwedo h4 {
  font-size: 19.77px;
  font-weight: 600;
  color: var(--black);
  margin: 19px 0px;
}
.whatwedo .wedo_1 {
  width: calc(75% - 16px);
  display: flex;
}

.whatwedo .wedo_1 #colone {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  align-items: baseline;
}
.whatwedo .wedo_1 #colone .card {
  width: calc(50% - 16px);
}
.whatwedo .wedo_1 #colone .card:last-child {
  flex-basis: 100%;
  display: flex;
  gap: 32px;
  height: calc(50% - 16px);
}
.whatwedo .wedo_1 #colone .card:last-child div {
  width: calc(50% - 16px);
}
.whatwedo .wedo_1 #colone div.blue {
  height: 100%;
  background-color: #5b54ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 40px;
}
.whatwedo .wedo_1 #colone .card:last-child span {
  width: 44px;
  height: 44px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatwedo .wedo_1 #rowone div {
  flex: 1;
  background-color: white;
}

.whatwedo .wedo_1 #coltwo {
  flex: 1;
}
.whatwedo .wedo_1 #coltwo .card:first-child {
  margin-bottom: 32px;
}
.whatwedo .wedo_2 {
  width: calc(25% - 16px);
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(black);
  row-gap: 32px;
  background-color: white;
  padding: 29px 20px 20px;
}

.whatwedo .wedo_2 #wedo_image {
  padding: 0px 20px;
  width: 100%;
  max-width: 100%;
}

.whatwedo .wedo_2 .card {
  border-radius: 0px;
  background: transparent;
  border: none;
  padding: 0px;
}
.whatwedo .wedo_2 img {
  width: 100%;
}
/* Check Our work */

section#ourwork {
  margin-top: 130px;
}
